<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{common/masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products/index.css}" />
    <title>Products Management App - Browse List of Products</title>
</head>
<body>
    <th:block layout:fragment="content">
    
   
    
    
        <div>
            <span style="font-size: 1.5em">Thank You for Shopping with Us</span>
            
    
</body>
</html>